<div class="carousel-caption center" style="margin-bottom: 400px;">
	<h3 style="font-size: 4vw; color: white; text-align: center; text-shadow: 5px 5px 10px black;">
        Welcome to UBC Table Tennis Club!
    </h3>
	<p style = "font-size: 2vw; color: white; text-align: center; text-shadow: 5px 5px 10px black;">
        To sign up for the 2020 February Tournament 
        <br>
	    <a href="/events" style = "font-size: 1em; color: white; text-align: center; text-shadow: 10px 10px 20px black;">
            Click here!
        </a>
	</p>
 </div>