		<!-- Footer -->
		<footer class="page-footer font-small unique-color-dark" style="background-color: #F8F9FA">

  			<div style="background-color: #2C3449;">
   		 		<div class="container">

      				<!-- Grid row-->
      				<div class="row py-4 d-flex align-items-center">

        				<!-- Grid column -->
        				<div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          					<h6 class="mb-0" style="color: white;">Get connected with us on social networks!</h6>
       					</div>
        				<!-- Grid column -->

        				<!-- Grid column -->
        				<div class="col-md-6 col-lg-7 text-center text-md-right">

          					<!-- Facebook -->
          					<a class="fb-ic" href ="https://www.facebook.com/ubcttc/">
            					<i class="fab fa-facebook-f white-text mr-4" style="color: white;"> </i>
          					</a>
          					<!-- YouTube -->
          					<a class="yt-ic" href = "https://www.youtube.com/channel/UCluONat-KkA3-SRRXGCx5nA">
          					  	<i class="fab fa-youtube white-text mr-4" style="color: white;"> </i>
          					</a>
          					<!-- Google +-->
          					<a class="gplus-ic">
            					<i class="far fa-envelope white-text mr-4" style="color: white;"> </i>
          					</a>
          					<!--Linkedin -->
          					<a class="li-ic" href ="https://www.linkedin.com/company/ubc-table-tennis-club">
            					<i class="fab fa-linkedin-in white-text mr-4" style="color: white;"> </i>
          					</a>
          					<!--Instagram-->
          					<a class="ins-ic" href = "https://www.instagram.com/ubctabletennisclub/">
            					<i class="fab fa-instagram white-text" style="color: white;"> </i>
          					</a>

        				</div>
        				<!-- Grid column -->

      				</div>
      				<!-- Grid row-->

    			</div>
  			</div>

  			<!-- Footer Links -->
  			<div class="container text-center text-md-left mt-5">

    			<!-- Grid row -->
    			<div class="row mt-3">

      				<!-- Grid column -->
      				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        			<!-- Content -->
        				<h6 class="text-uppercase font-weight-bold">UBC Table Tennis Club</h6>
        				<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        				<p>We are a student-run table tennis club at the University of British Columbia. We host weekly playing sessions as well as tournaments every year. <br>Our competitive team competes in tournaments hosted by the National Collegiate Table Tennis Association.</p>

      				</div>
      				<!-- Grid column -->

      				<!-- Grid column -->
      				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        				<!-- Links -->
        				<h6 class="text-uppercase font-weight-bold">Pages</h6>
        				<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        				<p>
          					<a href="/home">Home</a>
        				</p>
        				<p>
          					<a href="/about-us">About Us</a>
        				</p>
        				<p>
          					<a href="/team">The Team</a>
        				</p>
        				<p>
          					<a href="/sponsors">Sponsors</a>
        				</p>

      				</div>
      				<!-- Grid column -->

      				<!-- Grid column -->
      				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        			<!-- Links -->
        				<h6 class="text-uppercase font-weight-bold">Useful links</h6>
        				<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        				<p>
          					<a href="/table-tennis">Table Tennis</a>
        				</p>
        				<p>
          					<a href="/contact-us">Contact Us</a>
        				</p>
        				<p>
          					<a href="/join-us">Join Us!</a>
        				</p>

      				</div>
      				<!-- Grid column -->

      				<!-- Grid column -->
      				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        				<!-- Links -->
        				<h6 class="text-uppercase font-weight-bold">Contact</h6>
        				<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        				<p>
          					<i class="fas fa-home mr-3"></i>Vancouver, BC V6T 1Z1</p>
        				<p style="font-size: 15px">
          					<i class="fas fa-envelope mr-3"></i>ubctabletennisclub@gmail.com</p>
        				<p>


      				</div>
      				<!-- Grid column -->

    			</div>
    			<!-- Grid row END-->

  			</div>
  			<!-- Footer Links END-->

  			<!-- Copyright -->
  			<div class="footer-copyright text-center py-3">© 2019 Copyright:
    			<a href="/home"> UBC Table Tennis</a>
  			</div>
  			<!-- Copyright END-->

		</footer>
		<!-- Footer END -->