		<!-- Home Page Navbar -->
		<nav class="navbar sticky-top navbar-expand-xl navbar-light bg-light">
			<a class="navbar-brand" href="/home" style = "padding-right: 150px; padding-left: 50px">
          	<img src = "https://ubctabletennis.s3-us-west-2.amazonaws.com/ubcttclogo.png" style = "height: 40px; width: 40px;">
    			UBC Table Tennis
  			</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse" id="navbarNavDropdown">
    			<ul class="navbar-nav" style ="margin-left: 5%;">
      				<li class="nav-item">
        				<a class="nav-link" href="/home">Home</a>
      				</li>
      				<li class="nav-item">
        				<a class="nav-link" href="/about-us">About Us</a>
      				</li>
      				<li class="nav-item">
        				<a class="nav-link" href="/team">The Team</a>
      				</li>
					<li class="nav-item">
						<a class="nav-link" href="/table-tennis">Table Tennis</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/events">Events</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/sponsors">Sponsors</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact-us">Contact Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/join-us">Join Us!</a>
					</li>
    			</ul>
  			</div>
		</nav>

    <div style="clear: both; height: 8px; width: 100%; background-color: #2C3449">  </div>
