<!DOCTYPE html>
<html>
	<head>
        <script src="https://kit.fontawesome.com/7a1204b60d.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<style>
    		/* Style the banner */
			.banner {
				height: 500px;
				background-image: url(https://ubctabletennis.s3-us-west-2.amazonaws.com/funteamphoto.jpg);
				background-position: center; 
				background-size: cover;
				background-repeat:no-repeat;
				opacity: 0.85;
			}

			/*Style the banner text */
			h1 {
				padding-top: 5rem;
				font-size: 4rem;
				color: white; 
				text-align: center; 
				text-shadow: 2px 2px 10px black;
			}

			/*ul {
				list-style-position:inside;
				list-style-type:square;
			}*/
    	</style>

	</head>
	<body> 
		<%= render "header" %>
		
		<!-- Banner -->
		<div id="aboutus_banner" class = "banner">
		<h1> About Us</h1>
		<p style = "margin-top: 2rem; font-size: 2vw; color: white; text-align: center; text-shadow: 2px 5px 10px black;"> At the UBCTTC, we are determined to keep <strong> you </strong> happy and the club running smoothly. <br> Get to know what we're about, and the people who work behind the scenes to keep the gears running! </p>
		</div>

		<div style="clear: both; height: 8px; width: 100%; background-color: #2C3449">  </div>

		<div id="content" style= "padding-left: 50px; padding-right: 50px;">
			<br>
			<p style= "text-align: center; font-size: 25px; font-weight: bold;"> Our Club </p>
			<br>
			<p class="content" style="display:block; text-align:center;"> 
			The UBC Table Tennis Club is committed to providing an organized environment for anyone interested in playing table tennis.
			Anyone interested in playing table tennis is welcome, regardless of your skill level. No previous experience is necessary. <br> <br>
			We host weekly drop-in sessions in The Nest Building, with the scheduling updates posted in our <a href="https://www.facebook.com/groups/ubctabletennis" target="_blank">Facebook group</a>!
			Drop-in sessions are free for registered members, and $2 for non-members. Equipment rentals are $1 per person.</p>
			<br>
			<br>
			<p style= "text-align: center; font-size: 25px; font-weight: bold;"> Membership </p>
			<br>
			<p class="content" style="display:block; text-align:center;"> 
			Becoming a member is the easiest way to get free access to all of our offerings. Member benefits
			include free entry into UBCTTC hosted tournaments, free drop-in session entry, 
			free equipment rentals and more! Click <a href="/join-us" target="_blank"> here </a> to become a member now! 
			<br>
			<br>
			<p style= "text-align: center; font-size: 25px; font-weight: bold;"> Club Leadership Team </p>
			<div id="execPhotos" class="content" style= "display: block; text-align: center;">
				
				<br>
				<p> <em> President </em> - Helen Huang, 2nd Year BComm <br> <em> VP Treasurer </em> - Jack Hu, 3rd Year BUCS <br> <em> VP Events </em> - Ata Cine </p>
			</div>
			<br>
			<br>
			<p style= "text-align: center; font-size: 25px; font-weight: bold;"> Executives </p>
			<div id="morePhotos" class="content" style= "display: block; text-align: center;">
				
				<br>
				<p> <em>  Finance </em><br> <br>
				Ao Song, 3rd Year BA <br> David Lin, 2nd Year BUCS <br> <br>
				<em>Moderators</em> <br> <br>
				Jack Hu, 3rd Year BUCS <br> Wally Tsao, 3rd Year BA <br> <br> 
				<em>Marketing</em> <br><br>
				TBD </p>
			</div>
			<br>
			<br>
			<p style= "text-align: center; font-size: 25px; font-weight: bold;"> Website Developers </p>
			<div id="Websitephotos" style= "display: block; text-align: center;">
					
					<br>
					<p> Sheena Cheng, 3rd Year BUCS<br> Charles Lee, 3rd Year BASc <br> Grace Zhang, 3rd Year BAsc <br> Vincent Liu, 3rd Year BASc <br> Andrea Shao, 3rd Year BASc, <br> Jack Hu, 3rd Year BUCS <br> Eric Goto, 4th Year BASc <br> Ethan Tan, 3rd Year BSc <br> David Lin, 2nd Year BUCS <br> Jack Hu, 3rd Year BUCS</p>
			</div>
		</div>
		<br>
		<%= render "footer" %>
	
	</body>
</html>

<!--Angelo - club lead, Ao - Marketing and comms, David - fundraising, HP - Travel and safety, Vincent - Finance. All officers--> 