<!DOCTYPE html>
<html>
	<head>
        <script src="https://kit.fontawesome.com/7a1204b60d.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>
	<body> 
		<%= render "header" %>
		
		<!-- Banner -->
		<div id="aboutus_banner" style= "height: 500px; background-image: url(https://ubctabletennis.s3-us-west-2.amazonaws.com/funteamphoto.jpg); background-position: center; background-size: cover; background-repeat:no-repeat; opacity: 0.85; overflow: hidden;">
		<br><br><br>
		<p style = "font-size: 75px; color: white; text-align: center; text-shadow: 2px 2px 10px black;"> Meet the People</p>
		<br><br>
		<p style = "font-size: 2em; color: white; text-align: center; text-shadow: 2px 5px 10px black;"> At the UBCTTC, we are determined to keep <strong> you </strong> happy and the club running smoothly. <br> Get to know the people who work behind the scenes to keep the gears running! </p>
		</div>

		<div style="clear: both; height: 8px; width: 100%; background-color: #2C3449">  </div>

		<div id="content" style= "padding-left: 50px; padding-right: 50px;">
			<br>
			<p style= "text-align: center; font-size: 25px; font-weight: bold;"> Executive Team </p>
			<div id="execPhotos" class="content" style= "display: block; text-align: center;">
				
				<br>
				<br>
				<p> Vincent Liu, 2nd Year BASc - President <br> Angelo Au, 3rd Year BComm - VP Treasurer <br> Jane Yan, 4th Year BKin - VP Team <br> Alison Soe, 3rd Year BA - VP Marketing </p>
				<p> The cat (Felis catus) is a small carnivorous mammal.[1][2] It is the only domesticated species in the family Felidae and often referred to as the domestic cat to distinguish it from wild members of the family.[4] The cat is either a house cat or a farm cat, which are pets, or a feral cat, which ranges freely and avoids human contact.[5] A house cat is valued by humans for companionship and for its ability to hunt rodents. About 60 cat breeds are recognized by various cat registries. </p>
			</div>
			<br>
			<br>
			<p style= "text-align: center; font-size: 25px; font-weight: bold;"> More Executive Teams </p>
			<div id="morePhotos" class="content" style= "display: block; text-align: center;">
				
				<br>
				<br>
				<p> Ao Song, 2nd Year BA - Finance <br> David Lin, 1st Year BUCS - Finance <br> Jack Hu, 2nd Year BUCS - Moderator <br> Wally, 2nd Year BA - Moderator <br> Helen Huang, 1st Year BA - Marketing </p>
			</div>
			<br>
			<br>
			<br>
			<p style= "text-align: center; font-size: 25px; font-weight: bold;"> Website Developers </p>
			<div id="Websitephotos" style= "display: block; text-align: center;">
					
					<br>
					<br>
					<p> Sheena Cheng, 2nd Year BUCS<br> Charles Lee, 2nd Year BASc <br> Grace Zhang, 2nd Year BAsc <br> Vincent Liu, 2nd Year BASc <br> Andrea Shao, 2nd YEAR BASc, <br> Jack Hu, 2nd Year BUCS <br> Eric Goto, 3rd Year BASc</p>
			</div>
		</div>
		<br>
		<%= render "footer" %>
	
	</body>
</html>