<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Fonts JS -->
        <script src="https://kit.fontawesome.com/7a1204b60d.js"></script>
        
    	<style>
    		/* Style the banner */
			.banner {
				height: 500px;
				background-image: url(https://ubctabletennis.s3-us-west-2.amazonaws.com/funteamphoto.jpg);
				background-position: center; 
				background-size: cover;
				background-repeat:no-repeat;
				opacity: 0.85;
			}

			/*Style the banner text */
			h1 {
				padding-top: 5rem;
				font-size: 4rem;
				color: white; 
				text-align: center; 
				text-shadow: 2px 2px 10px black;
			}
    	</style>

	</head>
	<body> 
		<%= render "header" %>
		
		<!-- Banner -->
		<div id="aboutus_banner" class = "banner">
		<h1> Meet the People</h1>
		<p style = "margin-top: 2rem; font-size: 2vw; color: white; text-align: center; text-shadow: 2px 5px 10px black;"> At the UBCTTC, we are determined to keep <strong> you </strong> happy and the club running smoothly. <br> Get to know the people who work behind the scenes to keep the gears running! </p>
		</div>

		<div style="clear: both; height: 8px; width: 100%; background-color: #2C3449">  </div>

		<div id="content" style= "padding-left: 50px; padding-right: 50px;">
			<br>
			<p style= "text-align: center; font-size: 25px; font-weight: bold;"> Executive Team </p>
			<div id="execPhotos" class="content" style= "display: block; text-align: center;">
				
				<br>
				<br>
				<p> Vincent Liu, 2nd Year BASc - President <br> Angelo Au, 3rd Year BComm - VP Treasurer <br> Jane Yan, 4th Year BKin - VP Team <br> Alison Soe, 3rd Year BA - VP Marketing </p>
			</div>
			<br>
			<br>
			<p style= "text-align: center; font-size: 25px; font-weight: bold;"> More Executive Teams </p>
			<div id="morePhotos" class="content" style= "display: block; text-align: center;">
				
				<br>
				<br>
				<p> Ao Song, 2nd Year BA - Finance <br> David Lin, 1st Year BUCS - Finance <br> Jack Hu, 2nd Year BUCS - Moderator <br> Wally Tsao, 2nd Year BA - Moderator <br> Helen Huang, 1st Year BA - Marketing </p>
			</div>
			<br>
			<br>
			<br>
			<p style= "text-align: center; font-size: 25px; font-weight: bold;"> Website Developers </p>
			<div id="Websitephotos" style= "display: block; text-align: center;">
					
					<br>
					<br>
					<p> Sheena Cheng, 2nd Year BUCS<br> Charles Lee, 2nd Year BASc <br> Grace Zhang, 2nd Year BAsc <br> Vincent Liu, 2nd Year BASc <br> Andrea Shao, 2nd Year BASc, <br> Jack Hu, 2nd Year BUCS <br> Eric Goto, 3rd Year BASc</p>
			</div>
		</div>
		<br>
		<%= render "footer" %>
	
	</body>
</html>