<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body> 
		<%= render "header" %>

		<div id="content" style= "padding-left: 50px; padding-right: 50px;">
			<p style= "text-align: center; font-size: 30px; font-weight: bold;"> Events </p>
			<p style= "text-align: center;"> At the UBCTTC, we are determined to keep <strong> you </strong> happy and the club running smoothly. <br> Get to know the people who work behind the scenes to keep the gears running! </p>
			<br>
			<p style= "text-align: center; font-size: 25px; font-weight: bold;"> Tournaments </p>
			<div id="tournaments" class="content" style= "display: block; text-align: center;">
				2020 UBC February Open Singles and UBC Invite
			</div>
			<br>
			<p style= "text-align: center; font-size: 25px; font-weight: bold;"> Club Sessions </p>
			<div id="tournaments" class="content" style= "display: block; text-align: center;">
				Almost everyday
			</div>
		</div>
		<%= render "footer" %>
	
	</body>
</html>