<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>
	<body> 
		<%= render "header" %>

		<h1>EVENTS</h1>
		<h3>Club Sessions</h3>
		<h3>Tournaments</h3>
		<h3>Workshops</h3>
		
		<%= render "footer" %>
	
	</body>
</html>