<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://kit.fontawesome.com/7a1204b60d.js"></script>
	</head>
	<body> 
		<%= render "header" %>
		<br>
		<div id="content" style= "padding-left: 50px; padding-right: 50px;">
			<p style= "text-align: center; font-size: 30px; font-weight: bold;"> Events </p>
			<br>
			<p style= "text-align: center; font-size: 25px; font-weight: bold;"> Tournaments </p>
			<div id="tournaments" class="content" style= "display: block; text-align: center;">
				<strong>2020 UBCTTC February Open Singles and UBC Invite</strong>
				<br>
				February 9th, 2020 @ AMS NEST UBC Campus
				<br><br>
				<div>
					<p style = "text-align: center;">Draws | Results | Photos </p>
				</div>
				<br>
				<strong>2019 UBCTTC October Tournament</strong>
				<br>
				October 20th, 2019 @ AMS NEST UBC Campus
			</div>
			<br><br><br>
		</div>
		<%= render "footer" %>
	
	</body>
</html>