<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Fonts JS -->
		<script src="https://kit.fontawesome.com/7a1204b60d.js"></script>

	</head>
	<body> 
		<%= render "header" %>
		<br>
		<div id="content" style= "padding-left: 50px; padding-right: 50px; text-align: center">
			<h1> Events </h1>
			<br>
			
			<h2> Tournaments </h2>
			<p style = "text-align: center"><strong>OPEN SINGLES REGISRATATION DEADLINE EXTENDED TO FEBRUARY 7th 11:59pm</strong></p>
			<br>

			<div id="tournaments" class="content" style= "display: block; text-align: center;">
				<strong>2020 UBCTTC February Open Singles and UBC Invite</strong>
				<br>
				February 9th, 2020 @ AMS NEST UBC Campus
				<br><br>
				<div>
					<p style = "text-align: center;">Draws | Results | Photos </p>
				</div>
				<br>
				<strong>2019 UBCTTC October Tournament</strong>
				<br>
				October 20th, 2019 @ AMS NEST UBC Campus
			</div>
			<br><br><br>
		</div>
		<%= render "footer" %>
	
	</body>
</html>