<!DOCTYPE html>

<html>
	<head>

		<script src="https://kit.fontawesome.com/7a1204b60d.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>

	<body>
		<%= render "header" %>
		
		<div style="margin: 2%;">
			<h1>Join Us!</h1>

			<br><br>

			<h2>Club Membership Sign-up</h2>
			<p>www.googleforms.here</p>

			<h2>Competitive Team Sing-up</h2>
			<p>www.googleforms.here</p>

			<br><br>

			<h1>Social Media Group Links</h1>
			<h2>Facebook Group Link</h2>
			<p>www.facebookgrouplink.here</p>

			<h2>WeChat Group Link</h2>
			<p>www.wechatgrouplink.here</p>
		</div>

		<%= render "footer" %>
	</body>
</html>