<!DOCTYPE html>

<html>
	<head>
		<!-- Load Facebook SDK for JavaScript -->
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s);
				js.id = id;
				js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=484506682206389&autoLogAppEvents=1';
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>

		<script src="https://kit.fontawesome.com/7a1204b60d.js"></script>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<style>

			/* Style the banner */
			.banner {
				height: 300px;
				background-image: url(https://ubctabletennis.s3-us-west-2.amazonaws.com/joinus.jpg);
				background-position: bottom; 
				background-size: cover;
				background-repeat:no-repeat;
				background-attachment: fixed;
				opacity: 0.85;
			}

			/*Style the banner text */
			h1 {
				padding-top: 5rem;
				font-size: 4rem;
				color: white; 
				text-align: center; 
				text-shadow: 2px 2px 10px black;
			}

			h2 {
				margin-bottom: 2rem;
			}

		    .fade
	      	{
	          opacity:0;
	      	}

	      	.fa {
			  padding-top: 0.8rem;
			  font-size: 1.5rem;
			  width: 50px;
			  height: 50px;
			  text-align: center;
			  align-items: center;
			  text-decoration: none;
			  transition: all .2s;
			  border-radius: 50%;
			  margin-right: 1rem;
			  color: white;
			}

			.fa:hover {
				transform: scale(1.3);
				color: white;
			}

			.fa-facebook {
			  background: #3B5998;
			}

			.fa-linkedin {
			  background: #007bb5;
			}

			.fa-youtube-play {
 			  background: #bb0000;
			}

			.fa-instagram {
			  background: #d23a6b;
			}

		</style>
	</head>

	<body>
		<%= render "header" %>
		
      	<div id="joinus_banner" class = "banner">
			<h1> Join Us!</h1>
		</div>
      	<div style="clear: both; height: 8px; width: 100%; background-color: #2C3449">  </div>

		<div class="container mt-5 mb-5">
			<div class = "row">
				<div class = "col-lg text-center mb-5" id = "signup">
					<h2>Club Membership Sign-up</h2>
					<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfykIJeCHJeF-YR9wnd_L17UQjSNe0qYb8FHX271n0VPCUAeg/viewform?embedded=true" width="100%" height="95%" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
				</div>
				<div class = "col-lg text-center mb-5">
					<h2>Weekly Club Sessions</h2>
					<p>Every Monday, Tuesday, Thursday, Friday @ AMS NEST 2nd Floor: 5:00pm - 8:00pm </p>
					<p>Exact Time and Locations are updated weekly in our Facebook Group (see below)!</p>
					<!--Your Facebook Group Plugin -->
					<div class="fb-group mt-3 mb-5" 
						data-href="https://www.facebook.com/groups/ubctabletennis/" 
						data-width="400" 
						data-show-social-context="true" 
						data-show-metadata="false">
					</div>

					<h2>Competitive Team Sign-up</h2>
					<p>Try-outs for our competitive team is now closed.</p>
					<br/>
					
					<h2>Social Media Group Links</h2>
					<a href="https://www.facebook.com/ubcttc/" target="_blank" rel="noopener noreferrer" class="fa fa-facebook"></a>
					<a href="https://www.youtube.com/channel/UCluONat-KkA3-SRRXGCx5nA" target="_blank" rel="noopener noreferrer" class ="fa fa-youtube-play"></a>
					<a href="https://www.instagram.com/ubctabletennisclub/" target="_blank" rel="noopener noreferrer" class ="fa fa-instagram"></a>
					<a href="https://www.linkedin.com/company/ubc-table-tennis-club/about/" target="_blank" rel="noopener noreferrer" class ="fa fa-linkedin"></a>
				</div>
			</div>
		</div>

		<div style ="clear: both;">
			<%= render "footer" %>
		</div>

		<script>
		$(document).ready(function() {
		
		/* Every time the window is scrolled ... */
		$(window).scroll( function(){
		
			/* Check the location of each desired element */
			$('.fade').each( function(i){
				
				var bottom_of_object = $(this).position().top + $(this).outerHeight();
				var bottom_of_window = $(window).scrollTop() + $(window).height();
				
				/* If the object is completely visible in the window, fade it it */
				if( bottom_of_window > bottom_of_object ){
					
					$(this).animate({'opacity':'1'},1500);
						
				}
				
			}); 
		
			});
		
		});
		</script>
	</body>
</html>