<!DOCTYPE html>

<html>
	<head>
		<script src="https://kit.fontawesome.com/7a1204b60d.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<style>
	    .fade
      	{
          opacity:0;
      	}
		</style>
	</head>

	<body>
		<%= render "header" %>
		
      	<div id="joinus_banner" style= "height: 350px; background-image: url(https://ubctabletennis.s3-us-west-2.amazonaws.com/joinus.jpg); background-position: center; background-size: cover; background-repeat:no-repeat; opacity: 0.85;">
			<br><br><br>
			<p style = "font-size: 75px; color: white; text-align: center; text-shadow: 2px 2px 10px black;"> Join Us!</p>
		</div>
      	<div style="clear: both; height: 8px; width: 100%; background-color: #2C3449">  </div>

		<div style="margin: 2%; text-align: center;">

			<br>

			<h2>Club Membership Sign-up</h2>
			<p>www.googleforms.here</p>

			<h2>Competitive Team Sing-up</h2>
			<p>Try-outs for our competitive team is now closed.</p>

			<br><br>

			<h1>Social Media Group Links</h1>
			<h2>Facebook Group Link</h2>
			<p>https://www.facebook.com/groups/ubctabletennis/</p>

		</div>

		<%= render "footer" %>

		<script>
		$(document).ready(function() {
		
		/* Every time the window is scrolled ... */
		$(window).scroll( function(){
		
			/* Check the location of each desired element */
			$('.fade').each( function(i){
				
				var bottom_of_object = $(this).position().top + $(this).outerHeight();
				var bottom_of_window = $(window).scrollTop() + $(window).height();
				
				/* If the object is completely visible in the window, fade it it */
				if( bottom_of_window > bottom_of_object ){
					
					$(this).animate({'opacity':'1'},1500);
						
				}
				
			}); 
		
			});
		
		});
		</script>
	</body>
</html>