<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script src="https://kit.fontawesome.com/7a1204b60d.js"></script>
	</head>

	<body>
	
		<%= render "header" %>

		<!-- Temporary Login Page Content -->
		<div class ="content">

			<div style="clear: both; height: 8px; width: 100%; background-color: #2C3449">  </div>

			<div class="title" style="margin: 5%;">
				<h1>Login</h1>
                <h2>This Page is currently underdevelopment.</h2>
			</div>

		</div>

		<!-- Page Footer -->
		<%= render "footer" %>

	</body>
</html>