<!-- Refer to this file for HTML Set-Up -->

<!-- This is where the header goes. -->
<h1 style = "text-align: center;"> <!-- This CSS code aligns your header to the middle -->
  <!-- For now, add in CSS elements above in the tags. -->
  Meet the Team
</h1>

<p1>
  This is the paragraph area.
</p1>
