<!-- Page information about sponsors can be found here. -->
<!DOCTYPE html>

<html>

  <!-- Reference call to header -->
	<head>
		<script src="https://kit.fontawesome.com/7a1204b60d.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>

	<body>
		<%= render "header" %>

		<div id = "sponsors-container" style="margin: 2%;">
			
			<div id = "sponsors-title-container">
				<h1>Our Sponsors</h1>
			</div>

			<div id = "sponsors-list-container">
				<div>
					<h3>SecretWeaponSports</h3>
					<h3>RedBull</h3>
				</div>
			</div>

			<div id = "sponsors-forms-container">
				<div>
					<h2>Interested In Sponsoring Us?</h2>
					<div id = "sponsors-button" style="background-color: navy; color: white; border-radius: 50%; text-align: center;">
						<h4>Sponsorship Booklet</h4>
					</div>
				</div>
			</div>

		</div>
		<%= render "footer" %>
	</body>
</html>
