<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<style>
	    	#toc_container {
			    background: #f9f9f9 none repeat scroll 0 0;
			    border: 1px solid #aaa;
			    display: table;
			    font-size: 95%;
			    margin-bottom: 1em;
			    padding-right: 5px;
			    position: absolute;
			    top: 35%;
			    right: 5%;
			    width: auto;
			}

			.toc_title {
			    font-weight: 700;
			    text-align: center;
			}

			#toc_container li, #toc_container ul, #toc_container ul li{
			    list-style: none none none none;
			}


		</style>

	</head>


	<body>
		<div id="toc_container">
			<p class="toc_title">Contents</p>

			<ul class="toc_list">
				<li><a href="#History">History</a></li>
				<li><a href="#Rules">Rules</a></li>
				<li><a href="#Equipment">Equipment</a></li>
				  <ul>
				    <li><a href="#Rubber">Rubber</a></li>
				    <li><a href="#Table">Table</a></li>
				  </ul>
				<li><a href="#FAQ">FAQ and Misconceptions</a></li>
			</ul>
		</div>



		<%= render "header" %>

		<div style = "width: 70%; margin: 30px">
			<p style = "font-size: 40px; text-align: left;"> <b>About Table Tennis</b></p>
			<h1 style = "font-size: 30px; text-align: left;"  id="History">History</h1>
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<h1 style = "font-size: 30px; text-align: left;"  id="Rules">Rules</h1>

				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ttur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, conseconsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<h1 style = "font-size: 30px; text-align: left;"  id="Equipment">Equipment</h1>
			<h2 style = "font-size: 20px; text-align: left;"  id="Rubber">tf is rubber???</h2>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ttur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, conseconsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<h2 style = "font-size: 20px; text-align: left;"  id="Table">tf is a table???</h2>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ttur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, conseconsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<h1 style = "font-size: 30px; text-align: left;" id="FAQ">FAQ and Common Misconceptions</h1>
				
				<ul style = "text-align: left;">
				  <li>ping pong is like a totally different thing right lmao like ping pong is 1 bounce and tt is 2 right?? that's what my buddy says when we play in his garage </li>
				  <li>do we play to 21 or 11 wtf is up with that</li>
				  <li>how do i git gud</li>
				  <li>is ping pong doubles like tennis doubles???</li>
				  <li>how the heck do i hold this thing. </li>
				</ul>  
		</div>

		<%= render "footer" %>
	</body>

</html>