<!-- Team HTML code goes here -->
<!DOCTYPE html>
<!-- Refer to images via: < %= image_tag "filename.jpg", :style => "height: 100%; width: 100%" % > -->

<html>
  <!-- Reference call of the header.  -->
  <head>
		<meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <%= render "header" %>

		<br>
		<br>
		<div style= "padding-left: 10%; padding-right: 10%;">
			<p style= "text-align: center; font-size: 20px; font-weight: bold;"> Competitive Team </p>
			<p style= "text-align: center;"> We have the A team who are <strong> STRONG INDEPENDENT YOUNG PEOPLE </strong> and then we have the B team they're doing their <small> best </small> </p>
			<br>
			<p style= "text-align: center; font-size: 50px ; font-weight: bold;"> Co-Ed </p>
			<div style= "display: inline-block; text-align: center;">

        </div>
        <div style = "display: inline-block">

        </div>
        <div style = "display: inline-block; overflow: hidden;">
          <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/Angelo.jpg" alt="Angelo" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
          <p>Coolios</p>
        </div>
        <div style = "display: inline-block; overflow: hidden;">
            <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/Fletcher.JPG" alt="Fletcher" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
          <p>Moolios</p>
        </div>
        <div style = "display: inline-block">

          <p>Coolios</p>
        </div>
        <div style = "display: inline-block">

          <p>Moolios</p>
        </div>
        <div style = "display: inline-block">

          <p>Coolios</p>
        </div>
        <div style = "display: inline-block">

          <p>Moolios</p>
        </div>
			</div>
			<br>
			<br>
			<br>
    </div>

    <div style= "padding-left: 10%; padding-right: 10%;">
			<p style= "text-align: center; font-size: 50px ; font-weight: bold;"> Women </p>
			<div style= "display: inline-block; text-align: center;">
        <div style = "display: inline-block">

          <p>Coolios</p>
        </div>
        <div style = "display: inline-block">

          <p>Moolios</p>
        </div>
        <div style = "display: inline-block">

          <p>Coolios</p>
        </div>
        <div style = "display: inline-block">
  
          <p>Moolios</p>
        </div>
        <div style = "display: inline-block">

          <p>Coolios</p>
        </div>
        <div style = "display: inline-block">

          <p>Moolios</p>
        </div>
        <div style = "display: inline-block">

          <p>Coolios</p>
        </div>
        <div style = "display: inline-block">

          <p>Moolios</p>
        </div>
			</div>
			<br>
			<br>
			<br>
    </div>



		<br>
    <%= render "footer" %>
  </body>

</html>
