<!-- Team HTML code goes here -->
<!DOCTYPE html>
<!-- Refer to images via: < %= image_tag "filename.jpg", :style => "height: 100%; width: 100%" % > -->

<html>
  <head>
		<meta charset="utf-8">
    <script src="https://kit.fontawesome.com/7a1204b60d.js"></script>
    
    <!-- jQuery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
	    .fade
      {
          opacity:0;
      }
      
      .tab {
        text-align: center;
        overflow: hidden;
        background-color: white;
      }

      /* Style the buttons inside the tab */
      .tab button {
        background-color: inherit;
        display: inline-block;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
      }

      /* Change background color of buttons on hover */
      .tab button:hover {
        background-color: #ddd;
      }

      /* Create an active/current tablink class */
      .tab button.active {
        background-color: #ccc;
      }

      /* Style the tab content */
      .tabcontent {
        display: none;
        text-align: center;
        padding: 6px 12px;
        border-top: none;
      }

      /* Style the banner */
      .banner {
        height: 300px;
        background-image: url(https://ubctabletennis.s3-us-west-2.amazonaws.com/TeamPhotoFallDiv2019.jpg);
        background-position: top; 
        background-size: cover;
        background-repeat:no-repeat;
        background-attachment: fixed;
        opacity: 0.85;
      }

      /*Style the banner text */
      h1 {
        padding-top: 5rem;
        font-size: 4rem;
        color: white; 
        text-align: center; 
        text-shadow: 2px 2px 10px black;
      }

      .section {
        padding-top: 5rem;
        padding-bottom: 3rem;
      }

		</style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <%= render "header" %>

      <!-- Banner -->
      <div id="compteam_banner" class = "banner">
			 <h1>The Competitive Team</h1>
			</div>
      <div style="clear: both; height: 8px; width: 100%; background-color: #2C3449">  </div>

      <div class = "section">
        <div class = "container mb-5"> 
          <p>The competitive team has competed in National Collegiate Table Tennis Collegiate Association since 2006 in all the available events: Co-ed Teams, Women’s Teams, Men’s Doubles, Women’s Doubles, Men’s Singles, and Women’s Singles. Over the last ten years, the competitive team has gained numerous outstanding athletes who have competed for Canadian National Team, Provinical Teams, and as well as for other countries. The competitive team has an excellent history of top achievements competing in the NCTTA consistently placing at the top of the divisional, regional, and national tournaments.</p>
        </div>

        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Roster')" id="defaultOpen">Roster</button>
            <button class="tablinks" onclick="openCity(event, 'History')">History</button>
        </div>

        <div id = "History" class = "tabcontent">
          <div class="container-fluid">
            <div class ="row">
              <div class = "col-lg-6">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/History+of+achievements_transparent.png" alt="achievements" style="height: 50%;">
              </div>
              <div class = "col-lg-6">
                <h2>Results Summary</h2>
                <p>
                Coming Soon
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id = "Roster" class = "tabcontent" >
          <div style= "padding-left: 10%; padding-right: 10%; text-align; center;">
            <br>
            <h2 style= "text-align: center; font-size: 36px; font-weight: bold;">2019-2020 Competitive Team Roster</h2>
            <p style= "text-align: center; font-size: 36px; font-weight: bold;"> Co-Ed Team</p>
            <div style= "display: inline-block; text-align: center;">
              <div class = "fade" style = "display: inline-block;">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/Angelo.jpg" alt="Angelo" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Angleo Au, 3rd Year BComm</p>
              </div>
              <div class = "fade" style = "display: inline-block;">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/David.jpg" alt="David" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>David Lin, 1st Year BUCS</p>
              </div>
              <div class = "fade" style = "display: inline-block">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/George.png" alt="George" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>George Wang, 2nd Year BA</p>
              </div>
              <div class = "fade" style = "display: inline-block">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/Vincent.jpg" alt="Vincent" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Vincent Liu, 2nd Year BASc</p>
              </div>
              <div class = "fade" style = "display: inline-block">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/Ben.jpg" alt="Ben" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Ben Yiu, 4th Year LFS</p>
              </div>
              <div class = "fade" style = "display: inline-block">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/Atharva.jpg" alt="Atharva" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Atharva Korde, PhD Student Math</p>
              </div>
              <div class = "fade" style = "display: inline-block">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/Fletcher.jpg" alt="Fletcher" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Fletcher Chan, 1st Year BSc</p>
              </div>
              <div class = "fade" style = "display: inline-block">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/Wally.jpg" alt="Wally" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Wally Tsao, 2nd Year BA</p>
              </div>
              <div class = "fade" style = "display: inline-block">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/Ziang.jpg" alt="Ziang" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Ziang Yan, PhD Student Physics</p>
              </div>
              <div class = "fade" style = "display: inline-block">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/Weidong.jpg" alt="Weidong" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Weidong Yin, Masters Student CPSC</p>
              </div>
              <div class = "fade" style = "display: inline-block">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/Masa.png" alt="Masahiro" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Masahiro Toyomura, 4th Year BUCS</p>
              </div>
            </div>
            <br>
            <br>
            <br>
          </div>

          <div style= "padding-left: 10%; padding-right: 10%;">
            <p style= "text-align: center; font-size: 36px ; font-weight: bold;"> Women's Team</p>
            <div style= "display: inline-block; text-align: center;">
              <div class = "fade" style = "display: inline-block">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/Jane.jpg" alt="Jane" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Jane Yan, 4th Year BKin</p>
              </div>
              <div class = "fade" style = "display: inline-block">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/Ao.jpg" alt="Ao" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Ao Song, 2nd Year BA</p>
              </div>
              <div class = "fade" style = "display: inline-block">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/Ivy.jpg" alt="Ivy" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Ivy Liao, 1st Year BComm</p>
              </div>
              <div class = "fade" style = "display: inline-block">
                  <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/GraceC.jpg" alt="GraceC" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Grace Cheung, 4th Year BKin</p>
              </div>
              <div class = "fade" style = "display: inline-block">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/GraceZ.png" alt="GraceZ" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Grace Zhang, 2nd Year BASc</p>
              </div>
              <div class = "fade" style = "display: inline-block">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/Kelly.jpg" alt="Kelly" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Kelly Lyu, 1st Year BComm</p>
              </div>
              <div class = "fade" style = "display: inline-block">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/Linda.jpg" alt="Linda" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Linda Guo</p>
              </div>
              <div class = "fade" style = "display: inline-block">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/David.jpg" alt="Sowmya" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Sowmya Gopalakrisnan, 3rd Year BKin</p>
              </div>
              <div class = "fade" style = "display: inline-block">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/David.jpg" alt="Lily" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Lily Yang</p>
              </div>
              <div class = "fade" style = "display: inline-block">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/Hester.jpg" alt="Hester" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Hester Huo</p>
              </div>
              <div class = "fade" style = "display: inline-block">
                <img src="https://ubctabletennis.s3-us-west-2.amazonaws.com/Alison.jpg" alt="Alison" style= "border-radius: 5%; width: 250px; height: 250px; margin: 10px 10px;">
                <p>Alison Soe, 3rd Year BA</p>
              </div>
            </div>
            <br>
            <br>
            <br>
        </div>
      </div>
    </div>
    
    <%= render "footer" %>

    <script>
      $(document).ready(function() {
        
    
      /* Every time the window is scrolled ... */
        $(window).scroll( function(){
      
          /* Check the location of each desired element */
          $('.fade').each( function(i){
                            
            var bottom_of_object = $(this).position().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();
            
            /* If the object is completely visible in the window, fade it it */
            if( bottom_of_window > bottom_of_object ){
                
                $(this).animate({'opacity':'1'},1500);
                      
            }
              
          }); 
      
        });
      
      });

      function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
      }

      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
    </script>
  </body>

</html>
